body{
overflow: hidden
}
body div{
	height: 500px;
}

.firstdiv{
	background-image: url(../images/logo/others/0055.png);
	background-color: #fff;
	/*background-size: cover;*/
	background-position: center center;
	background-repeat: no-repeat;
	float: left;
	clear: right;
}


/*.firstdiv .back{
	background-color: rgba(230, 230, 230, 0.83);

	    padding-top: 40px;
    padding-bottom: 50px;
	margin-right: -15px

}*/

 #navbarNav li a, a:hover {
  color: #910622;
	 font-weight: 600;
  text-decoration: none;
}
#navbarNav li{
	
	  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  margin-right: 10px;
}

#navbarNav li:last-child{
	  margin-right: 0;
}

#navbarNav li:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
#navbarNav li:hover:after {
  width: 100%;
  background: #910622;
}




.navbar-toggler {
	
	color: rgba(255, 255, 255, 0.5);
    border-color: #910622
}
   


.navbar-toggler-icon svg{
	
	 font-size: 35px
}
.navbar-toggler-icon{
	
    color: #910622;
	
}





.seconddiv{
	
	background-image: url(../images/ll.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 0px;
	overflow: hidden;
	float: right
}

.seconddiv2{
	background-color: rgba(220, 20, 60, 0.66);

	    padding-top: 40px;
    padding-bottom: 50px;
	    margin-left: -16px;
}

.naaav{
	height: 50px;
	width: 115%
}

.navbar-brand img{
	height: 40px;
	width: 80px;
}
.firstdiv .navbar-nav .nav-item{
	
	margin-left: 60px
}




.firstdiv .navbar-nav .nav-item a{
	
	color: #7e071f;
	
}

.firstdtext{
	margin-top: 100px
}


.firstdtext .hunter{
	
	/*color: #ff5800;*/
	color: rgb(221,91,3);
	font-weight: 700
}

.hunterthumb{
	width: 100px;
	height: 124px
	
	
}


.themediapart{
	
	margin-top: 30px;
height: fit-content ;
	color: #fff;
	margin-left: 25px
	
}

.themediapart img{
	float: right
}


.themediapart .media-body{
	
	    margin-top: 30px;
	height: fit-content ;
}


.dropdown-divider{
	
	border-top: 2px solid #e9ecef;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	opacity: 0.3;
	margin-top: 20px
	
	
}









.viewspart{
	
	
	
	color: #fff
}

.viewspart h1{
	margin-left: auto;
	margin-right: auto;
	
}

.viewspart span {
	font-size: 15px;
	
}


.rating{
	margin-top: 30px
}
.rating svg {
	
	margin-top: -5px;
}
.rating span{
	margin-left: 10px;
	font-size: 16px;
	    font-weight: 800;
}


.firstdtext .btn-outline-warning{
	
	color: rgb(221,91,3);
	font-weight: 600;
	border: 1px solid rgb(221,91,3);
}

.firstdtext .btn-outline-warning:hover{
	color: #fff;
	background-color: rgb(221,91,3);
	border: 1px solid rgb(221,91,3);
}


















.bottomright{
	
	background-image: url(../images/logo/others/3336.jpg);
	
/*	height: 350px;
	width: 533px;*/
	max-height: 350px;
	/*max-width: 533px;*/
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	float: right;
	clear: left;
	
}


.bottomright h3{
	color: #fff;
	margin-top: 30px;
}
.bottomright button{
	
	border: 2px solid #dc3545
}

.bottomright svg{
	font-size: 35px;
	font-weight: 900
}






.hunterhero{
	width: 500px;
	height: 570px;
	 position: fixed;
  bottom: 0;
	left: 40%
}



.overlay-screen{
	background-color: #222;
	color: #fff;
	position:absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	display: grid;
	place-items:center

}
.spinner {
  width: 70px;
  text-align: center;
	position: fixed;
	top: 50%;
	left: 50%
}

.spinner > div {
  width: 20px;
  height: 20px;
  background-color: #fff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
	
	
	
	
	
	







































@media (max-width: 992px){
	
	.hisstyle{
	
	background-color:rgba(193, 190, 190, 0.51);
    max-width: 200px;
    border-radius: 10px;
    float: right;
	text-align: center;
		width: 200px;
	
		

	
}

	.navbar-toggler-icon{
		
	}
	
	
	#navbarNav li{
		
		text-align: center;
		margin-right: 0px
	}
	
	.firstdiv .navbar-nav .nav-item{
		margin-left: 0px;
	}
	
	
	
	.firstdtext{
		    width: fit-content;
	}
	
	.naaav{
		    width: 100%;
	}
	
}



























@media (max-width: 786px){
	
	.hunterhero{
	width: 200px;
	height: 210px;
	 position: fixed;
  bottom: 0;
	left: 40%
}
	
	.hisstyle{
		
		width: 100px
	}
	
	.firstdtext{
		width: min-contant
	}
	.firstdtext h1{
		font-size: 30px
	}
	
	.fronttext{
		position: absolute;
		top: 16%
	}
	
	
	
}


@media (min-width: 1024px) and (max-width: 1025px) and (orientation: portrait) {
	
	.hunterhero{
		 position: fixed;
		top: 20%;
		left: 30%;
	}
	
}



@media (min-width: 787px) and (max-width: 991px){
	
	.hunterhero{
	width: 400px;
	height: 420px;
	 position: fixed;
  bottom: 0;
	left: 55%
		
}
	
	
	
	
}


